<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <h1><%= title %></h1>
  <table>
    <th>RESTO MENUS</th>
    <th>MENUS</th>
    <!-- <% data.forEach(el => { %> -->
    <tr>
      <td><%=data.namaResto%></td>
      <td><a href="/resto/<%=data.menuId%>"><button>CHECK MENU!</button></a></td>
    </tr>
    <!-- <% }) %> -->
  </table><br><br>
</body>

</html>